#Topo{
    background-color:  rgb(24, 130, 201);
    height: 10vh;
    width: 95%;
    margin-top: 2vh;
    margin-left: 2vh;
    padding: 2vh;
    border-radius: 1vh 1vh 0vh 0vh;
}

#Topo img{
    height: 20vh;
    width: 30vh;
    margin-top: -5vh;
    margin-left: 42%;
}

#wallpaper{
    height: 80vh;
    width: 97.1%;
    margin-left: 2vh;
    text-align: center;
    position: relative;
    z-index: 1;
}
#wallpaper img{
    height: 80vh;
    width: 100%;
}

#CardSpace{
    height: 20vh;
    width: 95%;
    margin-left: 2vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 2;
}


.Criar_Cards{
    text-decoration: none;
    font-size: 4vh;
}
.Criar_Cards h1{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Criar_Cards h1:hover{
    color: rgb(24, 130, 201);
}

.rodape{
    width: 94.2%;
    height: 5vh;
    background-color:rgb(24, 130, 201);
    margin-left: 2vh;
    padding: 2vh;
    position: absolute;
    float: left;
    border-radius: 0vh 0vh 1vh 1vh;
}

.rodape ul{
    margin-top: 1vh;
}
.rodape ul li{
    float: left;
    margin-left: 2vh;
    list-style: none;
}
.rodape ul li a img{
    height: 3vh;
}
.rodape a h4{
    font-size: 2vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 0vh;
    margin-left: 130vh;
}

#ApiRead{
    background-image: url(../img/valedaesmeralda.jpg);
    align-items: center;
    width: 97.1%;
    margin-left: 2vh;
    background-repeat: no-repeat;
    background-position: 20% 40%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    
}
.livro{
    background-color: rgba(32, 32, 58, 0.253);
    opacity:10vh;
    padding: 5vh;
    width: 50vh;
    border-radius: 1vh;
    color: azure;
    margin-top: 5vh;
    font-family:sans-serif;
    border-radius: 0.7vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.livro img {
    width: 60%;
    height: 20vh;
    border-radius: 1vh;
}

.livro h1{
    color: rgb(72, 174, 241);
}

#menu_aux{
    display: flex;
    flex-direction: row;
    margin-top: -15vh;
}

#menu_aux a{
    text-decoration: none;
    color: white;
}
#menu_aux h1{
    margin-left: 3vh;
}