
<div class="banner-xl">
    <div class="imgplace-xl"></div>
    <h1>Beach Port</h1>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque dolorum illum nesciunt fugit veritatis. Molestiae quidem nemo quasi laboriosam sapiente, ex, porro nihil eum nostrum a minus tempora, fugiat voluptate.</h3>
    <button>Clicar aqui</button>
</div>

<div class="Black_screen">
</div>

<div class="mini_screen">
    <button class="close" id="close_id" ng-click="CloseFunc()">X</button>
    <h1>Cadastre no nosso site</h1>
    <h3>Insira o seu email para receber novas ofertas </h3>
</div>

<div id="art1" class="articles_"></div>