<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/estilo_paginas.css" rel="stylesheet">
    <title>Sobre</title>
</head>

<body>
    <div id="image"></div>

    <div class="card_espaco" id="card1">
        <h1>Sobre</h1>
        <h3>Nossa missão é trazer a melhor experiência possível para as pessoas que buscam viajar para diversos lugares
            com isso fizemos esse site de uma maneira que seja mais dinâmico possível
            sendo algo bem fácil e claro de entender facilitando a navegação dp usuário deixando tudo bem organizado e
            explicado pois a gente preza sempre pela boa navegação do usuário.
        </h3>



    </div>

</body>

</html>