<div id="image"></div>

    <div class="card_espaco">
        <h1>Sobre</h1>
        <h3>Nossa missão é trazer a melhor experiência possível para as pessoas que buscam viajar para diversos lugares
            com isso fizemos esse site de uma maneira que seja mais dinâmico possível
            sendo algo bem fácil e claro de entender facilitando a navegação dp usuário deixando tudo bem organizado e
            explicado pois a gente preza sempre pela boa navegação do usuário.
        </h3>
    </div>